streamlit>=1.36.0
langchain==0.3.30
langchain-core==0.3.86
langchain-openai==0.3.35
langchain-community==0.3.31
langchain-text-splitters==0.3.11
openai>=1.30.0
youtube-transcript-api>=0.6.2
faiss-cpu
pandas>=2.2.0
reportlab>=4.2.0
python-dotenv>=1.0.1
